#container {
    width: 60%;
    margin: auto;
    padding: 10px 0 5px 0;
    border-bottom: 3px solid blue;
    background: black;
}

#container p {
    text-align: Center;
}

.box {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 65%;
    /* background: #2E2E2E; */
    outline: none;
    color: gray;
    font-family: 'Abel', sans-serif;
    font-size: 100%;
}

#container label {
    font-family: 'Abel', sans-serif;
    color: white;
    padding: 0 10px 0 0;
}

.box[type=text]:focus {
    border-bottom: 2px solid blue;
}

#button {
    border: none;
    width: 30%;
    padding: 5px;
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    background: blue;
    margin: 0 0 0 55px;
}